<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Electronic Form</title>
</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form  th:object="${electronic}" th:action="@{/user/new/electronic} " method="post">

                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Create new Electronic product</h1>
                        </div>
                        <div class="panel-body">

                            <input type="hidden" th:field="*{id}">


                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Name:</label>
                                    <input type="text" class="form-control" th:field="*{name}"/>
                                </div>

                                <div class="col-md-3 form-group">
                                    <label>Price:</label>
                                    <input type="text" class="form-control" th:field="*{price}"/>
                                </div>

                                <div class="col-md-3 form-group">
                                    <label>Description:</label>
                                    <input type="text" class="form-control" th:field="*{description}"/>
                                </div>

                                <div class="col-md-3 form-group">
                                    <label>Brand:</label>
                                    <input type="text" class="form-control" th:field="*{brand}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>