<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Game Form</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" media="all"
          href="../../static/css/style.css" th:href="@{/css/style.css}"/>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: white;">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/groceries">Groceries<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/electronics">Electronics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/games">Games</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/furniture">Furniture</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wallet">Wallet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form  th:object="${game}" th:action="@{/user/new/game} " method="post">

                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Create new Game</h1>
                        </div>

                        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                            <p>Please fix the below errors!</p>
                        </div>

                        <div class="panel-body">

                            <input type="hidden" th:field="*{id}">


                            <div class="row">
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('name')} ?
                                    'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>Name:</label>
                                    <input type="text" class="form-control" th:field="*{name}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('name')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                                        </ul>
                                    </span>
                                </div>

                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('price')} ?
                                    'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>Price:</label>
                                    <input type="text" class="form-control" th:field="*{price}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('price')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
                                        </ul>
                                    </span>
                                </div>

                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('description')} ?
                                    'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>Description:</label>
                                    <input type="text" class="form-control" th:field="*{description}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('description')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                                        </ul>
                                    </span>
                                </div>

                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('platform')} ?
                                    'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>Platform:</label>
                                    <input type="text" class="form-control" th:field="*{platform}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('platform')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('platform')}" th:text="${err}"></li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                <hr class="light">
                <h5>Contact Info</h5>
                <hr class="light">
                <p>Email: yourname@mail.com</p>
                <p>Contact Number: 614-000-0000</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Users</h5>
                <hr class="light">
                <a href="/users">Check active users</a><br><br>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Products</h5>
                <hr class="light">
                <a href="/groceries">Groceries</a><br><br>
                <a href="/electronic">Electronics</a><br><br>
                <a href="/furniture">Furniture</a><br><br>
                <a href="/games">Games</a><br><br>
            </div>
            <div class="col-12">
                <hr class="light">
                <h5>github.com/murphy1</h5>
            </div>
        </div>
    </div>
</footer>

</body>
</html>