<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/formlayout :: formlayout (~{::body},'templates')}">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-12">
            <div class="card" title="table-card">
                <div class="card-body">
                    <!--/*@thymesVar id="searchObject" type="com.murphy1.inventory.model.SearchObject"*/-->
                    <form th:object="${searchObject}" th:action="@{/search/newsearch} " method="get">

                        <div class="panel-group">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h1 class="col-md-9 panel-title">Search for Anything! Users, Groceries...</h1>
                                </div>

                                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                                    <p>Please fix the below errors!</p>
                                </div>

                                <div class="panel-body">

                                    <input type="hidden">


                                    <div class="searchformrow">
                                        <div class="col-md-10 form-group">
                                            <label class="form-label">Search Query:</label>
                                            <input type="text" class="form-control" th:field="*{query}"/>
                                        </div>
                                    </div>
                                    <div class="searchformrow">
                                        <div th:class="${#fields.hasErrors('searchObjectForSearch')}?
                                    'col-md-10 form-group has-error' : 'col-md-10 form-group'">
                                            <label class="form-label">What are you looking for? (A Person, Grocery, Game?):</label>
                                            <input type="text" class="form-control" th:field="*{searchObjectForSearch}" th:errorclass="has-error"/>
                                            <span class="help-block" th:if="${#fields.hasErrors('searchObjectForSearch')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('searchObjectForSearch')}" th:text="${err}"></li>
                                        </ul>
                                    </span>
                                        </div>
                                    </div>
                                    <div class="searchformrow">
                                        <div th:class="${#fields.hasErrors('searchType')}?
                                    'col-md-10 form-group has-error' : 'col-md-10 form-group'">
                                            <label class="form-label">How do you want to search? (By Name, ID, Description?):</label>
                                            <input type="text" class="form-control" th:field="*{searchType}" th:errorclass="has-error"/>
                                            <span class="help-block" th:if="${#fields.hasErrors('searchType')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('searchType')}" th:text="${err}"></li>
                                        </ul>
                                    </span>
                                        </div>
                                    </div>
                                    <div class="searhformrow">
                                        <button type="submit" class="btn btn-search">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>