<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User Form</title>
</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form  th:object="${user}" th:action="@{/user/new/user} " method="post">

                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Create new User</h1>
                        </div>

                        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                            <p>Please fix the below errors!</p>
                        </div>

                        <div class="panel-body">

                            <input type="hidden" th:field="*{id}">


                            <div class="row">
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('firstName')} ?
                                    'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>First Name:</label>
                                    <input type="text" class="form-control" th:field="*{firstName}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('firstName')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}"></li>
                                        </ul>
                                    </span>
                                </div>

                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('lastName')} ?
                                    'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>Last Name:</label>
                                    <input type="text" class="form-control" th:field="*{lastName}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('lastName')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('lastName')}" th:text="${err}"></li>
                                        </ul>
                                    </span>
                                </div>

                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('username')} ?
                                    'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>Username:</label>
                                    <input type="text" class="form-control" th:field="*{username}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('username')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('username')}" th:text="${err}"></li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>