<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'templates')}">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
</head>
<body>

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-12">
            <div class="card" title="table-card">
                <div class="card-body">
                    <h4 class="card-title">List of Games</h4>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Description</th>
                            <th scope="col">Platform</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${games}">
                            <td th:text="${item.id}">Mark</td>
                            <td th:text="${item.name}">Otto</td>
                            <td th:text="${item.price}">Otto</td>
                            <td th:text="${item.description}">Otto</td>
                            <td th:text="${item.platform}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>