<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/notauthenticatedlayout :: notauthenticatedlayout (~{::body},'templates')}">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>

<div class="container-fluid padding">
    <div class="row welcome text-center" style="color: #f7f8fa">
        <div class="col-12">
            <h1 class="display-4">Inventory Management</h1>
            <hr>
            <div class="col-12">
                <p class="lead">Welcome to your Inventory Management. Please select an option to start working with
                your products.</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>